<div class="form-group">
	<input
		class="form-control"
		type="text"
		name="title"
		value="<%= card.title %>"
		placeholder="Title"
	/>
</div>

<div class="form-group mb-3">
	<div class="input-group" id="border">
		<div class="input-group-prepend">
			<span class="input-group-text">Photo</span>
		</div>
		<div class="custom-file">
			<input type="file" class="custom-file-input" id="image" />
			<label class="custom-file-label text-left" for="image"
				><span id="img-name"
					><%= card.image ? card.title || 'Image preview' : 'Choose file' %></span
				></label
			>
		</div>
	</div>
	<img
		id="img-preview"
		class="<%= card.image ? 'img-preview' : '' %>"
		style="width: 100%; <%= card.image ? 'display: block' : 'display: none' %>"
		src="<%= card.image %>"
	/>
</div>

<input type="hidden" name="image" value="<%= card.image %>" />

<div class="form-group">
	<input
		class="form-control"
		type="text"
		name="description"
		value="<%= card.description %>"
		placeholder="Description"
	/>
</div>

<div class="form-group">
	<input
		class="form-control"
		type="Number"
		name="price"
		value="<%= card.price %>"
		placeholder="Price"
	/>
</div>

<div class="form-group">
	<input
		class="form-control"
		type="text"
		name="info"
		value="<%= card.info %>"
		placeholder="More Info"
	/>
</div>
